<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD CINE</title>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
  crossorigin="anonymous"
/>
</head>
<body>

  <main>
      <section class="container mt-5">

        <% if (pelicula) { %>
          <form action="/update" method="post" autocomplete="off" >
            <div class="card">
              <div class="card-header">
                <h4 class="text-center">Actualizar Película</h4>
                <a href="/" class="btn btn-sm btn-warning">Lista de películas</a>
              </div>
              <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%= pelicula.id %>" />
                <div class="mb-3">
                  <label for="titulo" class="form-label">titulo</label>
                  <input type="text" class="form-control" name="titulo" value="<%= pelicula.titulo %>" id="nombre" required />
                </div>
                <div class="mb-3">
                  <label for="director" class="form-label">director</label>
                  <input type="text" class="form-control" name="director" value= "<%= pelicula.director %>" id="profesor" required />
                </div>
                <div class="mb-3">
                  <label for="lanzamiento" class="form-label">lanzamiento</label>
                  <input type="date" class="form-control" name="lanzamiento" value="<%= pelicula.lanzamiento ? new Date(pelicula.lanzamiento).toLocaleDateString().split('/').reverse().join('-') : '' %>" id="lanzamiento" required />
                </div>

                <div class="mb-3">
                    <label for="calificacion" class="form-label">calificacion</label>
                    <select name="calificacion" id="calificacion" class="form-select" required >
                      <option value="1"> <%=pelicula.calificacion %></option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>


                <div class="mb-3">
                    <label for="genero" class="form-label">genero</label>
                    <input type="text" class="form-control" name="genero" value="<%= pelicula.genero %>" id="precio" required />
                  </div>


                
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="/" class="btn btn-sm btn-secondary">Cancelar</a>
              </div>
            </div>
        </form>
        <% } %>
      
      </section>
  </main>

  <script>
    document.querySelector('form').addEventListener('submit', (event) => {

      const pregunta = confirm("Seguro en gurdar los datos?");

      if (!pregunta) {
        event.preventDefault();
         } else {
        alert("Datos guardados correctamente");
      }


    });
      </script>
  
</body>
</html>
